<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Glory&family=Gluten:wght@200&display=swap" rel="stylesheet">
</head>
<style>
    body{
        font-family: 'Hi Melody',cursive;
        background-image : url('/images/paper.png');
        margin:0;
}
</style>
<body>
    <div style="display: flex; flex-direction:column;justify-content: center; align-items: center; width: 100vw; height: 100vh;">
        <img style="width:80vw; height:30vh;" src="/images/cross.png">
    <h1 style="text-align: center; text-shadow: 1px 1px 1px grey;">작성된 일기를 찾을 수 없습니다</h1>
    </div>
</body>
</html>