<style>
    #title>a{
        color:black;
    }
    #title>a:visited{
        color:black;
    }
</style>
<body>
    <div id="navbar">
        <div id="title" style="font-size:30px"><a href="/main/lobby/">Mind Mirror</a></div>
        <ul>
            <li><a href="/detail/dayselect">일별</a></li>
            <li><a href="/detail/week">한주</a></li>
            <li><a href="/detail/monthselect">월별</a></li>
        </ul>
    </div>
