<%- include ('layouts/header') -%>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div style="font-size: 105%; display: flex; flex-direction: column; align-items: center;">
        <div style="text-align: center;">
            <!-- text-shadow: #bcff04 1px 0 10px;  -->
        <h1 id='title' style="font-family: 'Glory',sans-serif; color: rgb(144,238,123); font-size:50px; ">Mind Mirror</h1>
        </div>
        <div style="z-index:-1; background-image: url('images/background4.png'); width: 100vw; height: 50vh; position:absolute; background-position: top 70px right 7px; background-size:contain; background-repeat: no-repeat;"></div>
        <div style="font-family: 'Nanum Pen Script';  color:white; font-size:17px; margin-top:10vh; height: 55px; text-shadow: 1px 0px 3px rgb(43, 43, 43)"><h2 id='subtitle'>'일기 속</h2><h2 id='subtitle2'>감정을 분석하다'</h2></div>
    </div>
    <div>
    <a href="http://localhost:5000/login/kakao" style="display: inline-block;"><img src="/images/kakao_login_medium_narrow.png" style=" border-radius:1rem; box-shadow: 3px 3px 3px grey;"></a>
    </div>
</body>
</html>
