#note{
    background-attachment: local;
    background-image:
      linear-gradient(to right, white 10px, transparent 10px),
      linear-gradient(to left, white 10px, transparent 10px),
      repeating-linear-gradient(white, white 30px, black 30px, black 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
    width:80%; 
    height:60vh; 
    border-radius: 1rem;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px grey;
    border:outset 1px;
  }

body{
  background-image : url('/images/paper.png');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#sb_btn{
    color: white;
    background:linear-gradient(70deg,rgb(143, 238, 123),rgb(248,235,147));
    box-shadow: 3px 3px 3px grey;
    border: none;
    width:30%;
    height: 5vh;
    border-radius: 0.8rem;
    margin-top: 30px;
    font-family: 'Gluten',cursive;
}